body {
    margin: 0px;
    padding: 0px;;
    background-color: white;
    font-family: Arial, sans-serif;
    color:#8B4513
}
header { 
    
    background-color: #F5DEB3;
    color: #8B4513;
    padding: 10px;
    font-size: 23px;
}
.titulo {
    text-align: center;
    display: inline-block;
    position: relative;
    left: 31rem;
    top: 0px;


}
.subtitulos1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background-color: #F5DEB3;
    padding: 10px;

}

.tamaño {
    border-style: none;
}

.subtitulos2 {
    font-size: 120%;
    font-style: initial;
    font-weight: 700;
    margin: 5px;
    padding: 10px;
}
  
.logo {
    width:auto;
    position: relative;
    left: 0px;
    top: 17px;
    display: inline-flex;
    
}
.tipos {
    font-style: bold;
    font-weight: 600;
    font-size: 100%;
}
.contenedor {
    display: grid;
    grid-template-areas:
     'Dulces Crema	Agua';
     background-color: #F5DEB3;
    gap: 40px;
    justify-content: space-around;
    border-radius: 30px;
    width: 80%;
    height: auto;
    position: relative;
    left: 140px;
    padding: 10px 10px;
    margin-top: 10px;
       
}

.datos {
border: none;
border-bottom: 2px solid #8B4513;

}
.info {
    padding: 10px;
    margin: 15px;
    display: grid;
    grid-template: auto;
    border: none;

}

.Dulces {
    grid-area: Dulces;
}

.Crema {
    grid-area: Crema;
}

.Agua {
    grid-area: Agua;
}

#img {
    max-width: 100%;
    height: auto;
    height: 280px;
    display: inline-flex;
    margin-left: 0;
    padding-left: 0;
}
.Pago {
    margin: 15px;
    padding: 10px;
    display: grid;
    border-style: none;
    grid-template: auto;
    
}
#card , #number, #date {
    border: 2px solid #8B4513 ;
    border-radius: 4px;
}

.boton {
  background-color:#8B4513 ;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
   
}