.container {
    .container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    
}


header {
    text-align: center; /* Centra el contenido del encabezado horizontalmente */
    padding: 50px;
    color: #8B4513; /* color del texto  */
}
body {
    background-color:rgb(224, 236, 236); 
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su posición */
    position:relative;
  
    min-height: 100vh;
}

main {
   
    display: flex;
    justify-content: center; /* Centra horizontalmente en el viewport */
    align-items: center; /* Centra verticalmente en el viewport */
    height: 50vh; /* Establece la altura de la página al 100% del viewport */
    margin: 0;
}

.columna {
    flex: 1; /* Hace que las columnas se expandan para llenar el espacio disponible */
    text-align: center; /* Centra el contenido de las columnas horizontalmente */
    padding: 50px;
}

iframe {
    max-width: 100%; /* Asegura que las imágenes no sean más anchas que su contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Cambia el color de fondo según tu preferencia */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    position: absolute;
    bottom: 0;
    width: 97%;
}
#navdelfooter {
    display:flex; 
    justify-content:space-around;
    font-size: 14px;

}